<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{email.user.password.link.subject(${systemName})}">SystemName: password reset requested</title>
</head>
<body>
<p th:utext="#{email.user.password.link.greeting(${username})}">Hello, <b>User</b>!</p>
<p><span th:utext="#{email.user.password.link.l1}">Please reset your password here:</span> <a th:href="${passwordResetLink}" th:text="${passwordResetLink}">LINK_PASSWORD_RESET</a>.</p>
<p th:utext="#{email.user.password.link.l2(${passResetTokenExpires})}">Link will be valid for 15 minutes.</p>
</body>
</html>
