<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <!-- If the GCP profile is active, CREATE and USE the JSON appender -->
  <springProfile name="gcp">
    <!-- Google Cloud Logging JSON Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="com.google.cloud.spring.logging.StackdriverJsonLayout" />
      </encoder>
    </appender>

    <root level="WARN">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

  <!-- If we are running locally (NOT GCP), use the standard Spring console -->
  <springProfile name="!gcp">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="WARN">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

  <include resource="logback/logback-general.xml" />
</configuration>
