<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <!-- If the GCP profile is active, CREATE and USE the JSON appender -->
  <springProfile name="gcp">
    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="com.google.cloud.spring.logging.StackdriverJsonLayoutEncoder"/>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE_JSON" />
    </root>
  </springProfile>

  <!-- If we are running locally (NOT GCP), use the standard Spring console -->
  <springProfile name="!gcp">
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>
</configuration>
