<?xml version="1.0" encoding="UTF-8"?>
<included>
  <!-- Keep application's logs at INFO. -->
  <logger name="org.portfolio.userland" level="INFO"/>

  <!-- Currently tracked stuff. -->
  <logger name="org.portfolio.userland.gcp" level="TRACE"/>
  <logger name="org.portfolio.userland.features.email.services.EmailService" level="TRACE"/>
  <logger name="org.portfolio.userland.features.email.services.providers" level="TRACE"/>
</included>